.hamburger-menu div ul li a {
  /* background-color: aqua; */
  text-decoration: none;
  color: white;
 
  /* background-color: black; */
}

.hamburger-menu div ul li {
display: inline;
margin-right: 20px;
/* padding-right: 90px; */
border: 2px solid rgb(8, 8, 8);
border-radius: 6px;
padding: 10px;
padding-right: 25px;
padding-left: 25px;
background-color: black;
width: 500px;

}

.hamburger-menu div ul {
list-style-type: none;
/* width: 500px; */
border: 1px solid black;


/* padding-right: 90px; */

}

.hamburger-menu{
    border: 2px solid black;
   
    height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
    
}
.hamburger-menu div{
    border: 2px solid black;
    margin-right: 80px;
    width: 700px;
    /* background-color: #f87000; */

    display: flex;
    justify-content: center;
    align-items: center;
}


.Circular-Image{
   
  
    width: 70px; /* Adjust size as needed */
    height: 70px; /* Ensure width and height are equal */
    border-radius: 50%; /* Makes the image circular */
    object-fit: cover; /* Ensures the image fits within the circle */
}

.About{
    border: 1px solid black;
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

    .About .AboutMe{
        border: 1px solid black;
        height: 100px;
        width: 100px;
    }
    .About .AboutMe2{
        border: 1px solid black;
        height: 100px;
        width: 100px;
    }

.Background{
    border: 1px solid black;
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

    .Background .Edu{
        border: 1px solid black;
        height: 100px;
        width: 100px;
    }
    .Background .Exp{
        border: 1px solid black;
        height: 100px;
        width: 100px;
    }


.Background2{
    border: 1px solid black;
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

    .Background2 .Edu{
        border: 1px solid black;
        height: 100px;
        width: 100px;
    }
    .Background2 .Exp{
        border: 1px solid black;
        height: 100px;
        width: 100px;
    }


#Footer{
    border: 2px solid #000;
    background-color: rgb(255, 137, 2);
    height: 50px;
    text-align: center;
   
}


.MainBackground{
    border: 1px solid black;
    height: 50px;
    background-color: #F2EEEE;
    /* display: flex;
    justify-content: space-around;
    align-items: center; */

}